---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "EXPERT",
    price: "160.000 DZD",
    popular: false,
    features: [
      "Nom de domaine gratuit",
      "Hébergement gratuit la première année",
      "Performances maximales",
      "Prise en charge de plusieurs langues",
      "Plus de 1000 Produits actifs",
      "Panier",
      "Gestión de clientes",
      "Gestión de commandes",
      "Multiples utilisateurs pour gérer le magasin",
      "Intégration de Facebook Pixel",
      "Élevé dans les moteurs de recherche majeurs : Google, Yahoo…"
    ],
    button: {
      text: "Commander",
      link: "/contact",
    },
  },
  {
    name: "PROFESSIONNEL",
    price: {
      monthly: "300.000 DZD",
      // annual: "$16",
      // discount: "10%",
      // original: "$24",
    },
    popular: true,
    features: [
      "Tout le pack",
      "Plus de 3000 Produits actifs",
      "Conception personnalisée professionnelle",
      "Site ultra rapide",
      "Technologie ultra sécurisée pour le site",
    ],
    button: {
      text: "Commander",
      link: "/contact",
    },
  },
  {
    name: "Besoin de plus ?",
    price: "Sur Devis",
    popular: false,
    features: [
      "Notre équipe est à votre écoute",
    ],
    button: {
      text: "Contactez-nous",
      link: "/contact",
    },
  },
];
---

<Layout title="Création de sites e-commerce">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Création de sites e-commerce</Fragment>
      <Fragment slot="desc">
        <span class="px-6">
          IZORAN STUDIO est une agence digitale spécialisée dans la création de
          sites e-commerce sur mesure pour les entreprises de toutes tailles.
          Nous travaillons en étroite collaboration avec nos clients pour
          comprendre leur marché cible et créer une plateforme de vente en ligne
          qui répond à leurs besoins commerciaux. Nous utilisons les dernières
          technologies pour créer des sites e-commerce rapides, accessibles et
          sécurisés qui offrent une expérience utilisateur fluide. Nous pouvons
          également intégrer des fonctionnalités de paiement en ligne, de
          gestion des stocks et de marketing pour aider nos clients à optimiser
          leur site e-commerce et à générer des ventes. Que vous cherchiez à
          lancer un nouveau site e-commerce ou à améliorer un site existant,
          notre équipe de développeurs expérimentés est là pour vous aider.
        </span>
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
