---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Commande urgente ?",
    description:
      "Une demande en urgence ? Un projet de dernière minute ? Vous avez besoin de votre commande rapidement ? Nous avons toujours des solutions.",
    icon: "account",
    pack: "mdi"
  },
  {
    title: "Pensé Pour Les Mobiles",
    description:
      "À l'heure où les internautes utilisent davantage leurs smartphones que leurs ordinateurs, un soin tout particulier est porté à la version nomade de votre application web. Plus que du Responsive Web Design, nous pensons tout d'abord au mobile!",
    icon: "tablet",
    pack: "mdi"
  },
  {
    title: "Obtenir un devis gratuit",
    description:
      "Faites-nous part de votre demande précise par mail, en stipulant le type de besoin, la quantité, les dimensions, la finition, etc. Recevez votre devis sous 48H maxi.",
    icon: "paper",
    pack: "mdi"
  },
  {
    title: "Vous n’avez pas la capacité de mettre à jour votre site Web?",
    description:
      "Nous proposons une maintenance technique hebdomadaire de votre site Internet.",
    icon: "cog",
    pack: "mdi"
  },
  {
    title: "Vous souhaitez suivre les statistiques de votre site Web?",
    description:
      "Nous vous proposons la création, configuration et suivi Google Analytics et Search Console.",
    icon: "bar-chart",
    pack: "mdi"
  },
  {
    title: "Appelez-nous",
    description:
      "Vous avez des questions sur l’un de nos produits ? Vous souhaitez avoir l’avis d’un spécialiste ? Vous souhaitez un rendez-vous?",
    icon: "phone",
    pack: "mdi"
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tout ce dont vous avez besoin pour commencer
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} pack={item.pack} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
