---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Nous travaillons avec les dernières technologies au monde.</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:expo" />
    <Icon class="h-8 md:h-12" name="simple-icons:gatsby" />
    <Icon class="h-8 md:h-12" name="simple-icons:nodejs" />
    <Icon class="h-8 md:h-12" name="simple-icons:php" />
    <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    <Icon class="h-8 md:h-12" name="simple-icons:wordpress" />
    <Icon class="h-8 md:h-12" name="simple-icons:woocommerce" />
  </div>
</div>
